button
{
    width: 200px !important;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo
{
    width: 150px;
    border-radius: 100px;
}
#textarea
{
    width: 300px;
}
